h1 {
    font-size: 2.4rem;
    color: $color-grayish-blue;
    text-align: center;
    padding-top: 5rem;
}

.group-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin: 4rem auto 6rem;
    font-size: 1.4rem;
    color: $color-light-grayish-blue;
}

.btn-toggle {
    background: $color-gradiente-purple;
    width: 50px;
    height: 29px;
    padding: 4px;
    border-radius: 20px;
    border: none;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        background-color: $color-very-light-grayish-blue;
        border-radius: 50%;
        transition: all .5s;
    }

    &:hover {
        filter: brightness(130%);
    }
}

.btn-toggle--move {
    &::after {
        transform: translateX(100%);
    }
}

.group-card {
    display: grid;
    grid: minmax(400px, 540px) / repeat(3, minmax(320px, 400px));    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;

    &__item {
        background-color: white;
        color: $color-dark-grayish-blue;
        padding: 4rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;    
        height: 100%;
        max-height: 500px;

        &:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        &:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    &__item--purple {        
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;
        max-height: 540px;
        background: $color-gradiente-purple;
        color: $color-very-light-grayish-blue;
        padding: 6rem 4rem;       
        border-radius: 10px;        
    }

    &__plan {
        font-size: 2rem;
        color: $color-grayish-blue;
    } 

    &__plan--light {
        font-size: 2rem;
        color: $color-very-light-grayish-blue;
    } 

    &__price {
        font-size: 8em;
        text-align: center;

        &-value {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__benefits {
        font-size: 1.6rem;
        color: $color-grayish-blue;

        & > div {
            border-top: 1px solid $color-light-grayish-blue;
            padding: 1.5rem 0;

            &:last-child {
                border-bottom: 1px solid $color-light-grayish-blue;
            }
        }        
    }

    &__benefits--light {
        font-size: 1.6rem;
        color: $color-very-light-grayish-blue;

        & > div {
            border-top: 1px solid rgba(246, 246, 254, .3);
            padding: 1.5rem 0;

            &:last-child {
                border-bottom: 1px solid rgba(246, 246, 254, .3);
            }
        }        
    }

    @media screen and (max-width: $break-mobile) {
        grid: repeat(3,minmax(400px, 500px)) / minmax(320px, 400px);
        padding-bottom: 8rem;
        gap: 3rem;

        &__item {
            padding: 3rem;
            border-radius: 10px;
        }

        &__item--purple {        
            padding: 3rem;  
            border-radius: 10px;    
        }
    }
}

.btn {
    padding: 1.5rem;
    display: block;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 5px; 
    box-sizing: border-box;
    height: 48px;
}

.btn-light {
    background-color: $color-very-light-grayish-blue;
    color: $color-purple;

    &:hover {
        background: transparent;
        color: $color-very-light-grayish-blue;
        border: 1px solid $color-very-light-grayish-blue;
    }
}

.btn-gradient-purple {
    background: $color-light-purple;
    background: $color-gradiente-purple;
    color: $color-very-light-grayish-blue;
    letter-spacing: 2px;

    &:hover {
        background: transparent;
        color: $color-purple;
        border: 1px solid $color-purple;
    }
}

.dollar-symbol {
    font-size: 50%;
    margin-right: 5px;
}

.disabled {
    display: none;
}


.attribution {
    position: absolute;
    bottom: 10px;
    right: 10px;

    a {
        color: $color-purple;

        &:hover {
            color: darken($color-purple, 20%);
        }
    }
}